.container {
    height: 1000px;
    width: 700px;
    background-color: lightslategrey;
    position: relative;
    border-radius: 50px;
    right: -200px;
    top: 0px;
}

.container:hover {
    transition: 0.5s ease;
    transform: scale(1.026);
}

.container img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    right: -785px;
    top: 12px;
    right: -485px;
    position: relative;
}

.caption {
    margin-top: 10px;
    text-align: left;
    position: relative;
    top: 12px;
    right: -485px;
    width: 200px;
}

h1 {
    text-align: center;
    position: relative;
    top: -10px;
}

h2 {
    top: -400px;
    right: -20px;
    position: relative;
}

.experience {
    position: relative;
    top: -400px;
    margin-top: 10px;
    text-align: left;
    max-width: 300px;
    right: -20px;
}