.container {
    height: 475px;
    width: 1000px;
    background-color: lightslategrey;
    position: relative;
    border-radius: 50px;
    right: -200px;
    top: 0px;
}

.container img {
    height: 200px;
    width: 200px;
    border-radius: 30px;
    right: -785px;
    top: 12px;
    position: relative;
}

.caption {
    margin-top: 10px;
    text-align: left;
    position: relative;
    top: 12px;
    right: -785px;
    width: 200px;
}

h1 {
    text-align: center;
    position: relative;
}